!/CV-JoeyDufourd.tex
!/CV-JoeyDufourd.pdf
!/CV-JoeyDufourd.aux
!/CV-JoeyDufourd.log
!/CV-JoeyDufourd.out
!/assets/CV-JoeyDufourd.aux
!/assets/CV-JoeyDufourd.log
!/assets/CV-JoeyDufourd.out
!/assets/CV-JoeyDufourd.aux
!/assets/CV-JoeyDufourd.log
!/assets/CV-JoeyDufourd.out
!/.gitignore
